html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1{
	text-align:center;
}
#map {
  height: 80%;
}
#menu {
  margin-left: 35%;
}
a{
direction: ltr;
overflow: hidden;
text-align: center;
text-decoration: none;
position: relative; color: rgb(0, 0, 0);
font-size: 20px;
background-color: rgb(235, 235, 235);
padding: 10px;
margin-left: 2%;
border-bottom-right-radius: 2px;
border-top-right-radius: 2px;
background-clip: padding-box;
border-left-width: 0px;
min-width: 44px;
font-family: Roboto, Arial, sans-serif;
-webkit-user-select: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
-webkit-background-clip: padding-box;
box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
a:active{
direction: ltr;
overflow: hidden;
text-align: center;
text-decoration: none;
position: relative; color: rgb(0, 0, 0);
font-size: 20px;
background-color: red;
padding: 10px;
margin-left: 2%;
border-bottom-right-radius: 2px;
border-top-right-radius: 2px;
background-clip: padding-box;
border-left-width: 0px;
min-width: 44px;
font-family: Roboto, Arial, sans-serif;
-webkit-user-select: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
-webkit-background-clip: padding-box;
box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
